body, html {
    height: 100%;
    background-color: #9FADBD;
    color: #3B4856;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: clip;
}

h1 {
    color: #3B4856;
}


.inputSection {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-end;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center ;
    margin-top: -4rem;
}

input[type="file"] {
    display: none;
}


.chooseBtn:active {
    border-style: inset;
}


.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #16B0D4;
    color: white; 
    height: 25px;
    min-width: 240px;
    border: 2px outset black;
    padding: 0 5px;
}

.scrollable {
    margin-top: 10px;
    padding: 4px;
    min-width: 700px;
    height: 200px;
    border: 1px inset black;
    overflow-y: auto;
    text-align: justify;    
    background-color:#d8dee4;
    color: #3B4856;
}

.otherBtn {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.error {
    display: none;
}
