body {
    background-color: #9FADBD;
    color: #3B4856;
}

h1 {
    color: #3B4856;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #9FADBD;
}

.inputSection {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: flex-end;
}

.main {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="file"] {
    height: 0;
    padding: 0;
    opacity: 0;
}

.chooseBtn {
    border: 2px outset black;
    padding: 0 5px;
    box-shadow: 2px 1px 1px black outset;
}

.chooseBtn:active {
    border-style: inset;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #16B0D4;
    color: white; 
    height: 25px;
}

.scrollable {
    padding: 4px;
    width: 700px;
    height: 200px;
    border: 1px inset black;
    overflow-y: auto;
    text-align: justify;    
    background-color:#d8dee4;
    color: #3B4856;
}

.copyDiv {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.error {
    display: none;
}
